.SideNav-App {
    height: 100vh;
    width: 25vw;
    background-image: linear-gradient(to bottom right, rgb(153, 8, 8), rgb(88, 0, 0));
    /* background-image: url('../../Assets/pexels-photo-270435.jpeg'); */
    position: fixed;
}
.SideNav-Body {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #f2f2f2;
}
.SideNav-Header h2 {
    font-size: 25px;
}
.SideNav-Header h4 {
    font-size: 20px;
}
.SideNav-Header img {
    margin-top: 10px;
    border-radius: 100px;
    height: 150px;
    width: 150px;
}
.SideNav-Menu {
    align-self: center;
    text-align: left;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.SideNav-Menu h6 {
    text-decoration: none;
    color: white;
}
.SideNav-Menu h6:hover {
    cursor: pointer;
}
.SideNav-Footer {
    font-size: 25px;
}
.SideNav-Footer h6 {
    color: white;
}